<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="create-container">
    <form id="post-form">
        <input type="text" id="title" name="title" placeholder="title" required>
        <textarea name="content" id="content" placeholder="content" cols="30" rows="10"></textarea>
        <button type="submit">Create post!</button>
    </form>
</div>

<script src="/js/create-post.js"></script>
</body>
</html>