<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/js/index.js"></script>
    <link rel="stylesheet" href="/css/base.css">

    <title>Document</title>
</head>
<body>

<button><a href="/new/post">New</a></button>

<div id="post-list">
    <a class="post-container" href="/65c3e0909585f279cca11c46"><h1 class="post-title">Lorem ipsum 1</h1>
        <p class="post-content">dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat. Duis aute irure dolor in</p></a>
</div>

</body>
</html>