<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/post.css">
</head>
<body>


<div class="post-container">
    <h1 id="post-title"></h1>
    <p id="post-content"></p>
    <div class="buttons">
        <button id="delete-button" onclick="deletePost()">Delete</button>
        <button id="update-button"><a id="update-link" href="">Update</a></button>
    </div>
</div>

<script src="/js/post.js"></script>
</body>
</html>