@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.cdnfonts.com/css/hey-comic');
body {
    /*font-family: 'Rubik', sans-serif;*/
    font-family: 'Hey Comic', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: lightblue;
}

h1 {
    text-align: center;
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}
#update-form {
    display: flex;
    flex-direction: column;
}

.input-data {
    font-family: 'Hey Comic', sans-serif;
    margin: 18px 18px 0 18px;
}

#content {
    resize: vertical
}

.create-container {
    margin: 60px 0 0 0;
    border-radius: 10px;
    background-color: white;
    max-width: 500px;
    min-width: 500px;
    box-shadow: 2px 2px 6px rgba(68, 68, 68, 0.7), -3px -3px 6px rgba(255, 255, 255, 0.7);

}

button {
    font-family: 'Hey Comic', sans-serif;
    position: relative;
    border-radius: 10px;
    background-color: #80ff80;
    border-style: none;
    font-weight: 700;
    font-size: 20px;
    top: 0;
    left: 75%;
    margin: 18px 18px 18px 5px;
    width: 100px;
    height: 40px;
    box-shadow: 2px 2px 6px rgba(68, 68, 68, 0.7), -3px -3px 6px rgba(255, 255, 255, 0.7);
    transition: transform .2s; /* Animation */
}

.input-data {
    align-content: center;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    border-color: rgba(84, 84, 84, 0.38);
    box-shadow: inset -2px -2px 3px #e8e8e8, inset 2px 2px 3px #444444B2;

}

button:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.validation {
    color: #ff7171;
    margin-left: 18px;
}